.sidebar {
  margin: 0;
  padding: 0;
  width: 200px;
  position: fixed;
  height: 100%;
  overflow: auto;
  border-right: 0.1px solid #F5F5F5;
}

.sidebar a {
  display: block;
  color: black;
  padding: 16px 6px;
  text-decoration: none;
  margin-top: 10%;
}

div.content {
  margin-left: 200px;
  padding: 1px 16px;
  height: 1000px;
}

#logout {
  position: absolute;
  bottom: 0;
}

@media screen and (max-width: 700px) {
  .sidebar {
    width: 100%;
    height: auto;
    position: relative;
  }
  .sidebar a {
    float: left;
  }
  div.content {
    margin-left: 0;
  }
}

@media screen and (max-width: 400px) {
  .sidebar a {
    text-align: center;
    float: none;
  }
}

#loads {
  background-color: #00005c;
  color: #ffffffff;
}
#statement {
  background-color: #f8f8f8;
  color: ##cacaca;
}
#transaction {
  background-color: #ffffffff;
  color: #000000;
}

.selectBox {
  display: flex;
  justify-content: flex-end;
  margin: 5px;
  flex-wrap: wrap;
}

.card {
  display: flex;
  width: 250px;
  /* height: 50px; */
  padding: 20px 32px 20px 32px;
  gap: 8px;
  border-radius: 5px 0px 0px 0px;
  opacity: 0px;
  /* border: 1px solid black; */
  box-shadow: 2px 2px 4px 3px #f5f5f5;
}
.cardText {
  /* border: 1px solid black; */
  margin-top: -20px;
  color: #219653;
}
h5 {
  color: #00005c !important;
}
.textCantainer{
  margin-top: -38px;
}