body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
/* Container for the table to handle overflow on smaller screens */
.table-container {
  overflow-x: auto; /* Allows horizontal scrolling */
  margin: 0 auto; /* Center the table container */
  max-width: 100%; /* Ensures the container does not exceed the viewport width */
}

/* Basic table styling */
.table {
  width: 100%;
  border-collapse: collapse; /* Collapse borders */
}

/* Table header styling */
.table-header {
  background-color: #f9f9f9; /* Background color for the header */
  padding: 10px; /* Padding inside header cells */
  text-align: left; /* Align text to the left */
  border-bottom: 2px solid #ddd; /* Bottom border for header cells */
  color: #333333;
}

/* Table cell styling */
.table-cell {
  padding: 10px; /* Padding inside cells */
  border-bottom: 1px solid #ddd; /* Border for cells */
}

/* Remove bottom border from last cell in each row */
.table tbody tr:last-child .table-cell {
  border-bottom: none; /* No bottom border for the last row cells */
}

/* Responsive styling for the table */
@media (max-width: 768px) {
  .table {
    font-size: 0.875em; /* Smaller font size on small screens */
  }
}

p ,select , div {
  font-family: Nunito;
  font-size: 18px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0.15000000596046448px;
}
h5 {
  font-family: Nunito;
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
  letter-spacing: 0.15000000596046448px;
}

th {
  font-family: Nunito;
  font-size: 18px;
  font-weight: 700;
  line-height: 24.55px;
}


